.block1 {
  position: relative;
  background: url("../img/bg-block1.jpg") center top no-repeat;
  padding: 0;
  & > .container {
    position: relative;
  }

  .tyotka {
    z-index: 2;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 29%;
  }
  &__title {
    h1 {
      margin-top: 35px;
    }
  }
  &__content {
    padding-bottom: 45px;
    padding-top: 50px;
  }
  &__why {
    padding: 50px 0 85px;
    background: url("../img/podlozka.png") top left no-repeat;
    //margin: 50px 0 115px;
    .why {
      margin: 0 0 25px 25px;
      &-icon {
        display: inline-block;
        margin-right: 20px;
      }
      &-text {
        display: inline-block;
        color: #ffffff;
        font-size: 24px;
      }
    }
  }
  &__today {
    .title {
      margin-left: 30px;
      font-size: 24px;
      margin-bottom: 15px;
    }
    .today-calc {
      margin-left: 30px;
      color: #fff;
      padding: 10px 20px;
      background: linear-gradient(to top, #ff6600, #ffa200);
      border-radius: 5px;
      font-size: 30px;
      font-family: $main_font_familyBold;
      span {
        position: relative;
        top: 2px;
        font-size: 18px;
      }
    }
  }
}
.block2 {
  .advantage {
    text-align: center;
    &-title {
      text-transform: inherit;
      font-size: 18px;
      margin-bottom: 30px;
    }
    .adva-big {
      margin-top: 20px;
    }
    &-text {
      margin-top: 30px;
      color: $orange_color
    }
  }
}
.block3 {
  background: url("../img/bg-block3.jpg") center top no-repeat;
  .video-responsive {
    margin: 0 auto;
    text-align: center;
    position: relative;
    height: 305px;
    width: 100%;
    overflow:hidden;
  }
  .video-responsive iframe,
  .video-responsive object,
  .video-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .video-descr {
    text-align: right;

    .video-question {
      text-align: center;
      .question-title {
        color: $orange_color;
        font-size: 18px;
      }
      .question-text {
        margin-bottom: 20px;
      }
      .btn-question {
        font-size: 18px;
        padding: 14px 50px 16px;
      }
    }
  }
  .video-title {
    margin-bottom: 75px;
    position: relative;
    font-size: 30px;
    line-height: 48px;
    .video-arrow {
      position: absolute;
      top: 65px;
      left: 0;
      width: 142px;
      height: 40px;
      img {
        width: 100%;
      }
    }
  }
}
.block4 {
  &-title {
    h2 {
      font-size: 35px;
      text-align: center;
      margin-bottom: 25px;
    }
  }
  &-descr {
    text-transform: uppercase;
    font-family: $main_font_familyBold;
    text-align: center;
    font-size: 24px;
    color: $orange_color;
    margin-bottom: 40px;
  }
  .use {
    display: table;
    margin: 0 auto 30px;
    position: relative;
    height: 200px;
    width: 220px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(51,51,51,.15);
    transition: all .3s ease;
    &-img{
      position: absolute;
      height: 100%;
      width: 100%;
    }
    &-text {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
    }
    &:hover {
      background-image: linear-gradient(to bottom, #ff6600, #ffa200);
      opacity: .8;
      .use-img {
        opacity: .35;
      }
      .use-text {
        color: #ffffff;
      }
    }
  }
}
.block5 {
  padding: 60px 0 40px;
  background: url("../img/bg-block5.jpg") center top no-repeat;
  &-title {
    margin-bottom: 30px;
    text-align: center;
    h2 {
      margin-top: 0;
      font-size: 35px;
    }
    span {
      color: $orange_color;
    }
  }
  &-text {
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
  }
}
.block6 {
  height: 400px;
}