.header {
  padding: 20px 0;
  background: rgba(255,255,255,.7);
  &__logo {
    margin-top: 5px;
  }
  &__contacts {
    text-align: left;
    .contact {
      margin-top: 10px;
      &:first-child {
        margin-top: 0;
      }
    }
    .contact-icon {
      display: inline-block;
      margin-right: 10px;
    }
    .contact-text {
      display: inline-block;
    }
  }
}