$main_font_size: 16px;
$main_font_color: #2c2b2a;
$orange_color: #ff6600;
$main_font_family: 'PT-Sans';
$main_font_familyBold: 'PTSansCaptionBold';
$bg_color: #ffffff;
$line_height: 1.5em;

@font-face {
  font-family:'PT-Sans-Caption';
  src: url('../fonts/PT-Sans-Caption-Bold.eot');
  src: url('../fonts/PT-Sans-Caption-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PT-Sans-Caption-Bold.woff2') format('woff2'),
  url('../fonts/PT-Sans-Caption-Bold.woff') format('woff'),
  url('../fonts/PT-Sans-Caption-Bold.svg#PT-Sans-Caption-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}

@font-face {
  font-family:'PT-Sans';
  src: url('../fonts/PT-Sans.eot');
  src: url('../fonts/PT-Sans.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PT-Sans.woff2') format('woff2'),
  url('../fonts/PT-Sans.woff') format('woff'),
  url('../fonts/PT-Sans.svg#PT-Sans') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-F6CE;
}

@font-face {
  font-family:'PTSansCaptionBold';
  src: url('../fonts/PTSansCaptionBold.ttf');
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-F6CE;
}
