section {
  padding: 70px 0;
}

.main-title {
  h1 {
    font-size: 35px;
  }
}

.title {
  text-transform: uppercase;
  font-family: $main_font_familyBold;
  color: #2c2b2a;
}

.black-text {
  color: $main_font_color;
}

.btn-orange {
  outline: 0 !important;
  border: none;
  border-radius: 60px;
  background: linear-gradient(to top,#ff6600,#ffa200);
  font-size: 18px;
  color: #ffffff;
  box-shadow: 0 3px 30px rgba(255,102,0,.5);
  transition: background .3s ease;
  &:focus, &:active {
    outline: 0;
  }
  &:hover {
    background: linear-gradient(to bottom,#ff6600,#ffa200);
  }
}

.weight {
  font-weight: bold;
}

.main-form {
  position: relative;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  padding: 30px 20px;
  &:before, &:after {
    display: inline-block;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 220px;
    height: 3px;
    background: $orange_color;
  }
  &:after {
    margin: -3px auto 0;
    bottom: 0;
  }
  &:before {
    top: 0;
    margin: 0 auto;
  }
}

.form {
  h2 {
    margin-bottom: 15px;
    font-size: 24px;
    text-transform: uppercase;
  }
  & > p {
    font-size: 16px;
    margin-bottom: 25px;
  }
  form {
    padding: 0 10px;
  }
  .form-control {
    height: 50px;
    border-radius: 50px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
  }
  .btn-orange {
    padding: 12px 26px;
    height: 50px;
    text-transform: uppercase;
  }
}

//PoPup
#successModal {
  .modal-dialog {
    width: 30%;
    margin-top: 60px;
    border-bottom: 5px solid forestgreen;
    border-top: 5px solid forestgreen;
    border-radius: 20px;
    .modal-content {
      border-radius: 18px;
      border: none;
      box-shadow: none;
    }
  }
  .modal-header {
    text-align: center;
    padding: 15px 15px 0 15px;
    border: 0;
    .close {
      margin-top: -15px;
      font-size: 25pt;
      opacity: 1;
      &:hover {
        opacity: .5;
      }
    }
  }
  .modal-body {
    padding: 0;
    .main-form {
      border: none;
      box-shadow: none;
      h2 {
        margin-top: 5px;
      }
    }
  }
  .modal-footer {
    display: none;
  }
}

.success {
  text-align: center;
  background-color: #fff;
  color: #3bb038;
  width: 90%;
  margin: 10px auto 35px;
  font-size: 20px;
}

.success-modal {
  display: none;
}
